
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
  <div id="login-container" class="glass">
    <h2>Login</h2>

    <form method="post" action="/validateLogin">

      <input type="text" id="kode" name="kode" placeholder="Masukkan kode" required />

  
      <input type="password" id="password" name="password" placeholder="Masukkan password" required />

      <button type="submit">Login</button>
    </form>
  </div>

</body>
</html>
